.heads {
  background-image: url("https://www.simplyrecipes.com/thmb/ijq-qFHdlvmNCcarN79LfoEZwNU=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Cookbooks-2023-LEAD-01-2-704eb23493d4429295f2bf12414b7d6b.jpg");
  background-position: center;
  background-color: rgb(138, 43, 8);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}
